@model Bolum
<div class="card text-bg-dark mt-2">
    <img src="@Model.ImageLink" class="card-img" style="">
    <div class="card-body">
        <p class="card-text">@Model.Name @Model.WhichEpisode. bölüm </p>
    </div>
</div>